<h1>User info</h1>
<%= form_for(@user) do |f| %>
  <h2>Name</h2>
  <%= f.text_field :name, autofocus: true %>
  <h2>Image</h2>
  <%= f.attachment_field :profile_image %>
  <h2>Introduction</h2>
  <%= f.text_field :introduction, autofocus: :true %><br />

  <%= f.submit "Update User" %>

<% end %>