<h1>Books</h1>
<p>Title</p>
<p>Opinion</p>
<% @books.each do |book| %>
  <%= book.title %>
  <%= book.body %>
<% end %>


<h1>New book</h1>
<%= form_for(@book) do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_field :body %>

  <%= f.submit 'Create Book' %>
<% end %>